<!DOCTYPE html>
<html lang="en" >  
<head>
    <meta charset="UTF-8">
	<meta name="google-site-verification" content="rL_0SR3WS2D0-uh2jGiRq-wzyO-7bGY8NXilE6Kv7AE"../>
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Linux Dersleri</title>
	<link rel="icon" href="https://linux-dersleri.github.io/../img/menu/icon.png" type="image/icon type">
    <link rel="stylesheet" href="https://linux-dersleri.github.io/../css/font-awesome.min.css">
    <link rel="stylesheet" href="https://linux-dersleri.github.io/../css/bootstrap.min.css">
	<link rel="stylesheet" href="https://linux-dersleri.github.io/../css/style.css">	
	<link rel="stylesheet" href="https://linux-dersleri.github.io/../css/prism.css">	
</head>
<body>

<div class="bs-canvas-overlay bs-canvas-anim bg-dark position-fixed w-100 h-100"></div>
	
<nav class="navbar y-navbar sticky-top navbar-expand-lg navbar-light bg-light">
  
  <a style="color: black" class="btn"  data-toggle="canvas" data-target="#bs-canvas-left" aria-expanded="false" aria-controls="bs-canvas-left"><i class="fa fa-align-justify fa-lg"></i></a>
  <center >
	<div>
	<a href="../../index.html" style="color: black" class="btn navbar-toggler " > <i class="fa fa-angle-double-left fa-lg"></i></a>
	
    <a href="../../index.html" style="color: black" class="btn navbar-toggler " ><i class="fa fa-book fa-lg"></i></a>
	
    <a href="./2.html" style="color: black" class="btn navbar-toggler " ><i class="fa fa-angle-double-right fa-lg"></i> </a>
	</div>
  </center>
  <a style="color: black" class="btn"  data-toggle="canvas" data-target="#bs-canvas-right" aria-expanded="false" aria-controls="bs-canvas-right" ><i class="fa fa-gear fa-lg"></i></a>  
		
</nav>

<nav class="navbar x-navbar sticky-top navbar-expand-lg navbar-light bg-light border-bottom">
	
	<div class="container ">
            <div align="left"><button class="btn"  data-toggle="canvas" data-target="#bs-canvas-left" aria-expanded="false" aria-controls="bs-canvas-left"><i class="fa fa-align-justify fa-lg"></i></button>
		<a href="../../menu.html" class="btn"  ><i class="fa fa-home fa-lg"></i></a>     </div>
	<center >
		
        <a href="../../index.html" class="btn">Önceki <i class="fa fa-angle-double-left fa-lg"></i></a>
		
        <a href="../../index.html" class="btn" ><i class="fa fa-book fa-lg"></i></a>
		
        <a href="./2.html" class="btn" ><i class="fa fa-angle-double-right fa-lg"></i> Sonraki</a>
		
        
    </center>
			<div align="right">
			<div class="togg-wrap">
			
			<button onclick="tema()" class="btn" ><i class="fa fa-adjust fa-lg"></i></button>  
				<a href="../../bildirim.html" class="btn" ><i class="fa fa-paper-plane"></i></a>    
		</div>              
	</div>              
	</div>
     
</nav>

	
	
<div id="bs-canvas-left" class="bs-canvas bs-canvas-anim bs-canvas-left position-fixed bg-kanvas h-100" >
	<header class="bs-canvas-header p-3 bg-baslık">
		
    	<h4 align="center" class="text-light">İçerik Menüsü<button type="button" class="bs-canvas-close close" aria-label="Close" aria-expanded="true"><span aria-hidden="true" class="text-light">×</span></button></h4>
        
    </header>
    <div class="bs-canvas-content px-3">
    	
    	<div align="center" class="list-group my-2 ">

			<a href="#" class="list-group-item list-group-item-action" >Giriş</a>
          	<a href="#linux" class="list-group-item list-group-item-action" >Linux Nedir ?</a>
          	<a href="#unix" class="list-group-item list-group-item-action" >UNIX</a>
			<a href="#linus" class="list-group-item list-group-item-action" >Linus Torvalds</a>
          	<a href="#gpl" class="list-group-item list-group-item-action" >GPL</a>
          	<a href="#gnu" class="list-group-item list-group-item-action" >GNU</a>
			<a href="#sonuc" class="list-group-item list-group-item-action" >Sonuç</a>
			<hr>
			<a href="#bildirim" class="list-group-item list-group-item-action">Geri Bildirim</a>
			
          	
        </div>
		
		
    </div>    
</div>
    
	  
          
          <div class="container">
		
	
	
	<div class="row mb-2">
    
	

        <div style="font-size:1.2em;" class="col p-4 d-flex flex-column position-static">
		
          
          <h1 id="-nokta-komutu">{{ page.title }}</h1>
		  <h6 id="meta-da"><i class="fa fa-calendar" aria-hidden="true"></i> {{ page.modified }} <i class="fa fa-user" aria-hidden="true"></i><a href="http://linux-dersleri.github.io/in/taylanbildik"> Taylan Özgür Bildik</a></h6>
{{ content }}

			
	

      
   
		 <div class="card-body">
			
	  <div class="image"> <img src="https://img-a.udemycdn.com/user/200_H/44483702_3508_11.jpg?kPNg8b4W_GkoC-T8Y_yo9T5jcjG5XwoiR0dYCQYDy-T0oPVjG0si-TJ_3WF7FyFCrcwdXm5M7NoPV1OAuWGktw9qvXuKDO_TbqH1mVGy1_LUr6Uo26CcGqvlWaN0sA" style="float: left; padding-right: 10px" class="rounded" > </div>
	  
				<a href="http://linux-dersleri.github.io/in/taylanbildik"><h4 id="yazar" >Taylan Özgür Bildik</h4></a>
                <p class="card_u-text">Linux ile yakından ilgili, öğrendiklerini paylaşmaktan hoşlanan biriyim.Linux ile yakından ilgili, öğrendiklerini paylaşmaktan hoşlanan biriyim.Linux ile yakından ilgili, öğrendiklerini paylaşmaktan hoşlanan biriyim.Linux ile yakından ilgili, öğrendiklerini paylaşmaktan hoşlanan biriyim.Linux ile yakından ilgili, öğrendiklerini paylaşmaktan hoşlanan biriyim.Linux ile yakından ilgili, öğrendiklerini paylaşmaktan hoşlanan biriyim.</p>
				<a target="_blank" href="https://www.linkedin.com/in/taylanbildik/"><i class="fa fa-linkedin fa-lg"></i></a>
                <a target="_blank" href="https://github.com/taylanbildik"><i class="fa fa-github fa-lg"></i></a>
				<p class="card_u-text">Yazar hakkında bilgi almak ve diğer paylaşımlarına göz atmak için <a href="../in/taylanozgurbildik.html">buradan</a> buyurun.  </p>
            </div>
    
	

  
</div>

        
  </div>

	
	</div>


    
<script src="https://linux-dersleri.github.io/../js/main.js"></script>	
<script src="https://linux-dersleri.github.io/../js/jquery-3.3.1.slim.min.js"></script>
<script src="https://linux-dersleri.github.io/../js/script.js"></script>		
<script src="https://linux-dersleri.github.io/../js/bootstrap.min.js"></script>	
<script src="https://linux-dersleri.github.io/../js/prism.js"></script>		


</body>

</html>
